doctype html
html
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;', name='viewport')
    title #{headText}
    link(rel='stylesheet', href='/dist/bootstrap.min.css')
    link(rel='stylesheet', href='/dist/style.css')
  body
    nav.navbar.navbar-inverse
      div.container-fluid
        div.navbar-header
          a.navbar-brand #{headText}
    
    block main
      
    script(type='text/javascript')
