extends ./html-layout.jade

block main
  div.container-fluid
    form(method='post')
      br
      input(type='text' name=formName placeholder=placeholder).form-control
      br
      br
      button(type='submit').btn.btn-default.btn-block.btn-primary.btn-lg 查询
        
    
